<h1 id="headerInfo"></h1>

<div class="container">
        <div class="item">
            <div class="source">
                    <input type="text" placeholder="начните вводить имя друга" size=40 class="filter" id="sourceSearch">
            </div>
        </div>
        <div class="item">  
            <div class="target">
                    <input type="text" placeholder="начните вводить имя друга" size=40 class="filter" id="targetSearch">
            </div>                          
        </div>
</div>        
<div class="container">
        <div class="friendContainer sourceBlock" id="source">
        </div>
        <div class="friendContainer targetBlock" id="target">            
        </div>
</div>
<div class="container">
        <button class="button" style="padding: 0" class="saveResults" >Сохранить</button>
</div>


