<h1 id="headerInfo"></h1>

<div class="container">
        <div class="item">
            <div class="sourceSearch">
                    <input type="text" placeholder="начните вводить имя друга" size=40 class="filter" id="sourcerer">
            </div>
        </div>
        <div class="item">  
            <div class="targetSearch">
                    <input type="text" placeholder="начните вводить имя друга" size=40 class="filter" id="targeter">
            </div>                          
        </div>
</div>        
<div class="container">
        <div class="source friendContainer">
        </div>
        <div class="target friendContainer">            
        </div>
</div>
<div class="container">
        <button class="button" style="padding: 0" class="saveResults" >Сохранить</button>
</div>


